[submodule "src/kburn/3rd-party/libusb-cmake"]
	path = src/kburn/3rd-party/libusb-cmake
	url = https://github.com/kendryte747/libusb-cmake.git
[submodule "src/kburn/3rd-party/spdlog"]
	path = src/kburn/3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/cli/CLI11"]
	path = src/cli/CLI11
	url = https://github.com/CLIUtils/CLI11.git
